,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

(10000, 14)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(2), int64(7), object(2)
memory usage: 859.5+ KB

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [91]:
df['Gender'].value_counts()

Gender
Male      5457
Female    4543
Name: count, dtype: int64

In [92]:
# One hot encoding in the category data - geography and gender
df = pd.get_dummies(df,columns=['Geography','Gender'],drop_first=True)

In [93]:
df.head()
# the estimated salary and balance has large values 
# so we are going to scale this

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,False,False,False
1,608,41,1,83807.86,1,0,1,112542.58,0,False,True,False
2,502,42,8,159660.80,3,1,0,113931.57,1,False,False,False
3,699,39,1,0.00,2,0,0,93826.63,0,False,False,False
4,850,43,2,125510.82,1,1,1,79084.10,0,False,True,False

In [94]:
X = df.drop(columns=['Exited'])
y = df['Exited'].values

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [95]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
# scaling the x_test and x_traing
X_train_trf = scaler.fit_transform(X_train)
X_test_trf = scaler.transform(X_test)

### 1.GREDIENT DECENT CLASSIFFIER

In [96]:
# Import Necessary libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import SGDClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score

# Load the dataset
# data = pd.read_csv('Churn_Modelling.csv')  # Replace 'your_dataset.csv' with your file's name

# Split features and target
# X = data.drop(['Exited', 'RowNumber', 'CustomerId', 'Surname'], axis=1)
# y = data['Exited']

# Split the data
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Define categorical columns (change the list below with the actual categorical columns)
# categorical_cols = ['Geography', 'Gender']

# Define the preprocessing steps
# categorical_transformer = Pipeline(steps=[('onehot', OneHotEncoder())])

preprocessor = ColumnTransformer(transformers=[('cat', categorical_transformer, categorical_cols)],remainder='passthrough')

# Define the model and preprocess data
model = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('scaler', StandardScaler()),
    ('classifier', SGDClassifier(loss='log', max_iter=1000, random_state=42))
])


# Fit the model
model.fit(X_train, y_train)

# Predict and calculate accuracy
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

ValueError: A given column is not a column of the dataframe

In [ ]:

# Fit the model
model.fit(X_train, y_train)

# Predict and calculate accuracy
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

In [ ]:
# Importing Required Libraries
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import SGDClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

# Make predictions on the test set
y_pred = model.predict(X_test)

# Convert predicted and actual labels to numpy arrays for plotting
y_test_np = np.array(y_test)
y_pred_np = np.array(y_pred)

# Plot the actual vs predicted labels
plt.figure(figsize=(4, 6))
plt.scatter(np.arange(len(y_test)), y_test_np, c='blue', marker='o', label='Actual')
plt.scatter(np.arange(len(y_test)), y_pred_np, c='red', marker='x', label='Predicted')
plt.title('Actual vs Predicted Labels')
plt.xlabel('Data Points')
plt.ylabel('Labels')
plt.legend()
plt.show()

# 2.LOGISTIC REGRESSION

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import OneHotEncoder

# Assuming you have a DataFrame named 'data' with features and target columns

# Extract the features and target
X = data.drop(columns=['Exited'])  # Features
y = data['Exited']  # Target

# Get categorical columns and perform one-hot encoding
categorical_cols = X.select_dtypes(include=['object']).columns
X_encoded = pd.get_dummies(X, columns=categorical_cols)

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.2, random_state=42)

# Initialize and fit the Logistic Regression model
logistic_reg = LogisticRegression(max_iter=1000)
logistic_reg.fit(X_train, y_train)

# Make predictions on the test set
y_pred = logistic_reg.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

# Plot actual vs predicted labels
plt.figure(figsize=(8, 6))
plt.scatter(range(len(y_test)), y_test, c='blue', marker='o', label='Actual')
plt.scatter(range(len(y_test)), y_pred, c='red', marker='x', label='Predicted')
plt.title('Actual vs Predicted Labels (Logistic Regression)')
plt.xlabel('Data Points')
plt.ylabel('Labels')
plt.legend()
plt.show()

## 4. Decision Tree

# 3.Back propagation algorithm

In [ ]:
# Customer Churn Prediction 
df = pd.read_csv('Churn_Modelling.csv')
# Delete RowNumber Customer Id , Surname
df.drop(columns = ['RowNumber','CustomerId','Surname'],inplace=True)
# One hot encoding in the category data - geography and gender
df = pd.get_dummies(df,columns=['Geography','Gender'],drop_first=True)
X = df.drop(columns=['Exited'])
y = df['Exited'].values

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
# scaling the x_test and x_traing
X_train_trf = scaler.fit_transform(X_train)
X_test_trf = scaler.transform(X_test)

X_train = X_train.astype(np.float32)  # Convert to float32
y_train = y_train.astype(np.float32)  # Convert to float32
X_test = X_test.astype(np.float32)  # Convert to float32
y_test = y_test.astype(np.float32)  # Convert to float32

In [ ]:
import tensorflow
from tensorflow import keras
from tensorflow.keras import Sequential 
from tensorflow.keras.layers import Dense

In [ ]:
import tensorflow as tf
import numpy as np

# Assuming 'numpy_array' is your NumPy array
X_train = tf.convert_to_tensor(X_train, dtype=tf.float32)  # Adjust dtype if needed
y_train = tf.convert_to_tensor(y_train, dtype=tf.float32)  # Adjust dtype if needed
X_test = tf.convert_to_tensor(X_train, dtype=tf.float32)  # Adjust dtype if needed
y_test = tf.convert_to_tensor(y_train, dtype=tf.float32)  # Adjust dtype if needed

In [ ]:
model = Sequential()
# the model has 3 layers 
# 1. Input layer
# 2. Hidden layer
# 3.Output layer
model.add(Dense(11,activation='sigmoid',input_dim=11))
model.add(Dense(11,activation='sigmoid'))
model.add(Dense(1,activation='sigmoid'))

In [ ]:
model.summary()

In [ ]:
model.compile(optimizer='Adam',loss='binary_crossentropy',metrics=['accuracy'])

In [ ]:
history = model.fit(X_train,y_train,batch_size=50,epochs=100,verbose=1,validation_split=0.2)

In [ ]:
model.layers[0].get_weights()

In [ ]:
y_pred=model.predict(X_test)
from sklearn.metrics import accuracy_score,confusion_matrix

In [ ]:
y_pred=[1 if  i > 0.5  else 0     for i in y_pred ]
print(confusion_matrix(y_test,y_pred),accuracy_score(y_test,y_pred))

In [ ]:
y_logs=model.predict(X_test)
y_logs=np.where(y_logs>0.5,1,0)
print(confusion_matrix(y_test,y_logs),accuracy_score(y_logs,y_test))

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

In [ ]:
import matplotlib.pyplot as plt

plt.plot(history.history['loss'])
plt.plot(history.history['val_loss'])

In [ ]:
# import pickle

In [ ]:
# pickle.dump(df, open('customer_churn.pkl','wb'))

In [ ]:
# with open('ann_model.pkl', 'wb') as file:
#     pickle.dump(model, file)